<section class="container-fluid investor bg-white">
    <div class="col-md-12 mx-auto">
        <div class="investor-tab">
            <div class="tab-content">
                <div class="tab-pane col-md-12 active" id="newest">
                    <div class="row investor-row">
                        <ng-container *ngIf="campaign_list.length > 0">
                            <div class="col-md-6" *ngFor="let data of campaign_list">
                                <div class="investor-cont cursor-pointer" (click)="view(data)">
                                    <img src="assets/images/add-img.png" class="w-100" alt="No Immage Found " />

                                    <div class="investor-weather">
                                        <h3>{{data.tagline}}</h3>
                                        <p>{{data.terms}}</p>
                                        <div class="progress" >
                                            <div class="progress-bar" style="width:70%"></div>
                                        </div>
                                        <div class="invest-rate">
                                            <div class="pledged-rate">
                                                <p><span>{{LANG.Min_Investment}} {{data.min_investment}} SAR</span></p>
                                                <p><span>{{LANG.Max_Investment}} {{data.max_investment}} SAR</span></p>
                                                <p>{{LANG.Total_Valuation}} {{data.total_valuation}} SAR</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="campaign_list.length == 0 && data_loaded">
                            <div class="col-md-12 p-5">
                                <h3>
                                    {{LANG.Sorry_No_data_to_display}}
                                </h3>
                            </div>
                        </ng-container>


                    </div>

                </div>
            </div>
        </div>
    </div>
</section>