<div class="container">
  <h2>{{LANG.campaign_investment_statement}}</h2>
  <br/>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>{{LANG.id}}</th>
        <th>{{LANG.campaign_id}}</th>
        <th>{{LANG.invester_id}}</th>
        <th>{{LANG.date}}</th>
        <th>{{LANG.principle}}</th>
        <th>{{LANG.profit}}</th>
        <th>{{LANG.tax}}</th>
        <th>{{LANG.fees}}</th>
        <th>{{LANG.total}}</th>
        <th>{{LANG.updated_at}}</th>
        <th>{{LANG.created_at}}</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let data of investmentStatement">
        <td>{{data.id?data.id:'-'}}</td>
        <td>{{data.campaign_id?data.campaign_id:'-'}}</td>
        <td>{{data.invester_id?data.invester_id:'-'}}</td>
        <td>{{data.date?data.date:'-'}}</td>
        <td>{{data.principle?data.principle:'-'}}</td>
        <td>{{data.profit?data.profit:'-'}}</td>
        <td>{{data.tax?data.tax:'-'}}</td>
        <td>{{data.fees?data.fees:'-'}}</td>
        <td>{{data.total?data.total:'-'}}</td>
        <td>{{data.updated_at?data.updated_at:'-'}}</td>
        <td>{{data.created_at?data.created_at:'-'}}</td>
      </tr>
    </tbody>
  </table>
</div>
